@import "styles/definitions"

.root
  border-radius: 20%
  width: 64px
  height: 64px

  text-align: center
  display: flex
  justify-content: center
  align-items: center

  pointer-events: none

  border: 1px solid $controls-bg-color

  transition-property: opacity
  transition-duration: 0.5s
  opacity: 0

  &.isVisible
    opacity: 1

  &.trade
    color: $trade-color

  &.combat
    color: $combat-color

  &.hitPoints
    &.increment
      color: $increment-color

    &.decrement
      color: $decrement-color
