@import "styles/definitions"

.root
  position: relative

  flex: 1 0 0

  color: $text-color

  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  .version
    position: absolute
    bottom: 16px
    right: 16px

  .container
    display: flex
    flex-direction: column
    gap: 16px

    h1
      text-align: center

    .field
      gap: 32px
      display: flex
      align-items: baseline

      label
        flex: 1 0 100px

      .hitPoints
        width: 200px

    .startButton
      margin-top: 16px
      background: transparent
      color: $hit-points-color
      font-weight: bold
