$background-color: black
$text-color: white

$hit-points-color: #2ab458
$accent-color: #89bbff

$player-blue-color: #6274a9
$player-red-color: #c01c32


$trade-color: #fdd211
$combat-color: #cb160a

$increment-color: #5bff5b
$decrement-color: #ff3535
