@mixin button
  cursor: pointer

$player-blue-color: #6274a9
$player-red-color: #c01c32


$trade-color: #fdd211
$combat-color: #cb160a
$neutral-color: #dfe0e1

$increment-color: green
$decrement-color: red
