@import "../button"

.root
  @include button

  padding: 10px
  background-image: conic-gradient(from 135deg at center center, rgba(255,130,0,1) 0%, rgba(255,215,0,1) 30%, rgba(255,255,255,1) 50%, rgba(255,215,0,1) 70%, rgba(255,130,0,1) 99%)
  border-radius: 50%

  .inner
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    height: 100%
    width: 100%
    border-radius: 50%
    background-image: linear-gradient(to right top, rgba(255,130,0,1) 0%, rgba(255,215,0,1) 30%, rgba(255,255,255,1) 50%, rgba(255,215,0,1) 70%, rgba(255,130,0,1) 99%)

    color: rgba(51, 32, 4, 0.9)
    text-shadow: rgba(28, 16, 2, 0.9) 0 0 2px
