@import "styles/definitions"

.root
  flex-grow: 1
  position: relative
  display: grid
  grid-template-columns: 1fr 1fr

  .finishTurnButton
    height: 200px
    width: 200px
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, 0%)
    border-bottom-left-radius: 50px
    border-bottom-right-radius: 50px
    background: linear-gradient(145deg, #262a2f, #2d3238)
    box-shadow:  28px 28px 60px #212529,-28px -28px 60px #33393f

  .tradeAndCombat
    position: absolute

    &.rightPlayersTurn
      right: 0

    &.leftPlayersTurn
      left: 0

    bottom: 0
