.root
  flex-grow: 1
  position: relative
  display: grid
  grid-template-columns: 1fr 1fr

  .finishTurnButton
    height: 200px
    width: 200px
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, 0%)
    border: 10px solid black
    cursor: pointer

  .tradeAndCombat
    position: absolute

    &.rightPlayersTurn
      right: 0

    &.leftPlayersTurn
      left: 0

    bottom: 0
