@import "styles/definitions"

.root
  height: 200px
  width: 200px
  background: transparent
  border-bottom-left-radius: 50px
  border-bottom-right-radius: 50px
  border-top: none
  color: $foreground-color
