@import "styles/definitions"

.root
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  pointer-events: none

  .diff
    position: absolute
    top: 32px

  .hitPoints
    font-size: 128px
    pointer-events: none
    color: $hit-points-color

  .increment
    font-size: 46px
    color: $increment-color

  .decrement
    font-size: 46px
    color: $decrement-color
