.root
  position: relative
  display: flex
  flex-direction: column
  opacity: 0.5

  &.hasTurn
    opacity: 1

  &.red
    background-color: #FF0000
    color: white

  &.blue
    background-color: #0000FF
    color: white

  .hitPointsLabel
    position: absolute
    font-size: 256px
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none

  .hitPointsDiffLabel
    position: absolute
    font-size: 100px
    top: 10%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none

  .incrementButton
    flex: 1 0 0
    cursor: pointer
    background: transparent
    border: 5px solid black

  .decrementButton
    flex: 1 0 0
    cursor: pointer
    border: 5px solid black
    background: transparent



