@import "styles/definitions"

.root
  position: relative
  display: flex
  flex-direction: column

  .hitPointsLabels
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

  .incrementButton
    flex: 1 0 0
    cursor: pointer
    background: transparent

  .decrementButton
    flex: 1 0 0
    cursor: pointer
    background: transparent



